* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-header {
  background-color: #eac926;
  padding: 16px;
}

#page-header .logo {
  width: 50%;
  padding: 10px;
}

#page-header div .form {
  width: 50%;
  font-size: 20px;
  padding: 0;
  position: relative;
}

body {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  background-color: #ebebeb;
}

.top-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#main-nav {
  margin: 10px 0;
  display: none;
}

.nav-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 10px 0;
}

.nav-list a {
  text-decoration: none;
  color: #000;
}

.input {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #666;
  padding: 2px;
  width: 100%;
  height: 30px;
}

.submit {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #666;
  width: 5%;
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 3px;
}

#slogan-container {
  text-align: center;
}

#burger-menu {
  text-align: center;
  margin-top: 5px;
}

#burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  background-color: white;
  margin-top: 10px;
}

.product img {
  width: 100%;
}

.product-info {
  position: relative;
  border-top: #ebebeb solid 1px;
  padding: 10px;
}

.product-info-header {
  display: flex;
  align-items: flex-end;
}

.truck-icon {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #39b54a;
  transition: transform 1s;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  font-size: 16px;
  width: 70%;
  color: #39b54a;
}

.description {
  font-size: 16px;
  font-weight: normal;
  color: #666;
}

.title {
  font-size: 24px;
}

.footer i {
  color: #03264c;
  font-size: 25px;
}

.footer {
  margin-top: 20px;
  background-color: white;
}

.footer-section {
  text-align: center;
  padding-top: 20px;
}

.footer-description {
  color: #666;
}

.footer-title {
  color: #666;
}

.footer-copyright {
  margin-top: 15px;
  color: #666;
}

/* form styles */

.error-box {
  background-color: palevioletred;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: 5px;
  display: none;
}

.error-box ul {
  list-style-type: none;
}

.input-form {
  text-align: center;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-control-group {
  width: 100%;
  margin: 10px 0;
}

.form-control {
  width: 85%;
  border: none;
  border-radius: 5px;
  padding: 5px 0;
}

.form-button-container {
  margin-top: 10px;
}

.form-button-container button {
  background-color: #03264c;
  color: white;
  border-radius: 5px;
  width: 20%;
  max-width: 80px;
  margin: 0 5px;
}

.form-control-label {
  display: block;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: bold;
}

.inline {
  display: inline;
}

@media (min-width: 361px) {
  body {
    max-width: 1200px;
    margin: auto;
  }

  .top-header {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .logo,
  .form {
    max-width: 30%;
  }

  #main-nav {
    display: flex;
    width: 100%;
  }

  #main-nav ul {
    display: flex;
  }

  .nav-item {
    padding-right: 15px;
  }

  .nav-item a {
    padding-right: 5px;
  }

  #left-nav {
    flex-grow: 1;
  }

  #burger-menu {
    display: none;
  }

  .product {
    width: 45%;
  }
  .discount {
    padding-left: 10px;
    flex-grow: 1;
  }
  .price {
    width: initial;
  }
}

@media (min-width: 768px) {
  .product {
    width: 20%;
  }

  .product:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .product:hover .truck-icon {
    transform: rotate(360deg);
    transition: transform 1000ms;
  }

  .product:hover .description {
    display: initial;
  }

  .description {
    display: none;
  }

  .submit-button:hover {
    background-color: #0022aa;
  }

  .input-form {
    max-width: 60%;
    justify-content: center;
    margin: auto;
  }

  .footer-promotions {
    display: flex;
  }

  .footer-section:hover i {
    color: #39b54a;
  }
}
